<div id="search_bar">
	<%= form_tag(products_path, :method => "get", id: "search-form-home") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search products" %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
</div>
